.infos-bar{
    display: flex;
    padding: 16px 24px;
    background-color: #ffffff;
    justify-content: space-between;

    ul{
        display: flex;
        gap: 40px;
    }
    li{
        font-size: 14px;
        color: #000 !important;
        b{
            font-size: 18px;
            display: block;
            color: #000 !important;
        }
    }
    @media (max-width: 640px){
        display: block;

        ul{
            display: block;
        }
        li{
            margin-bottom: 24px;
        }
    }

    @media (max-width: 1024px) {
        ul{
            gap: 16px;
        }
    }
}