@use './variables';

.event{
    padding: 0px 0;
    color: #fff;
    background-color: #000;
    &--frontend1{
        padding-top: 20px;
    }
    &__image{
        max-width: 360px;
    }
    &__details{
        font-weight: 100;
        border-bottom: 1px solid #eeeeee7c;
        display: flex;
        font-size: 30px;
        align-items: center;
        padding: 15px;
        justify-content: space-around;
        margin: 0 auto;
        &__title{
            font-size: 28px;
            font-weight: bold;
        }
        &__description{
            font-family: "owners-narrow", sans-serif;
            font-weight: 600;
            color: #ff0000;
            letter-spacing: 3px;
            font-style: bolder;
            line-height: 30px;
            @media (max-width: 640px){
                font-size: 20px;
                
            }
        }
        span{
            font-size: 20px;
            color: #ffffff;
        }
        a{
            background-color: rgb(255, 255, 255);
            font-size: 15px;
            padding: 10px;
            text-decoration: none;
            color: #ff0000;
            border-radius: 3px;
            position: relative;
            transition: all ease 0.7s;
            &:hover{
                color: #000;
                background-color: #ff0000;
                border-radius: 20px;
            }
        }
    }
}
.city{
    @media (max-width: 640px){
        font-size: 16px;
    }
}
