@use 'hero';
@use 'event';
@use 'variables';
@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.container{
    
    width: 90%;
    margin: 0 auto;
}
